<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column book-info">
                <article class="media" id={{book.id}}>
                    <figure class="media-left">
                        {{{imageTag book.thumbnail}}}
                    </figure>
                    <div class="media-content">
                        <div class="book-description content" data-description='{{book.description}}'>
                            <h3 class="tile is-3-mobile" data-title="book.title">{{book.title}}</h3>
                            <p class="subtitle is-3-mobile" >by {{joinList this.authors}}
                                <small>[{{joinList this.categories}}]</small>
                            </p>
                            {{trimString book.description}}
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a href={{book.link}} data-google-link={{book.link}} target="_blank">
                                    Read more in Google ...
                                    <span class="icon is-small"><i class="fas fa-book-open"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="media-right" >
                        <button id="addBook" class="is-rounded is-link is-small"
                                data-google-id={{book.id}}
                                        data-title='{{book.title}}'
                                data-authors='{{this.authors}}'
                                data-categories='{{this.categories}}'
                                data-description='{{book.description}}'
                                data-image-url='{{book.thumbnail}}'
                                data-google-link='{{book.link}}',
                                data-isbns="{{book.industryIdentifiers}}"
                                data-publisher="{{book.publisher}}"
                                data-published-date="{{book.publishedDate}}"
                                data-page-count="{{book.pageCount}}"
                                class="is-small is-warning"> + Add</button>
                    </div>
                    <div class="media-right">
                        <button class="delete is-medium"></button>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>