<div id="home">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <nav class="level">
          <div class="level-item">
            <img src="/styles/images/book-161128_1280.png" alt="Image of Book with Logo CGKP">
            <div id="logo">CG KP</div>
          </div>
          <div class="level-item has-text-centered">
            <h1>{{msg}}</h1>
          </div>
          <div class="level-item has-text-centered">
            <a href="#search-value"><button class="button is-link">Add A Book</button></a>
          </div>
        </nav>
        <div class="box">
          <article class="media">
            <div class="media-left" id="book-cover">
              <figure class="image is-128x128">
                <img src={{{link href=book-cover.url class="bookImg"}}} alt=" Book Cover Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p id="topBookTitle">{{book.title}}</p>
              </div>
            </div>
          </article>
        </div>
        {{#each books}}
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src={{link href=book-cover.url class="bookImg"}} alt="Book Cover Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{this.id}}  {{this.title}}</strong>
                  <br>
                  {{this.summary}}
                </p>

                </p>
              </div>
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like">
                    <span class="icon is-small">
                      <i class="fas fa-heart" aria-hidden="true"></i>
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
        {{/each}}
        <form class="field" action="POST">
          <div class="control">
            <label for="search-field">Select by Author or Title</label>
            <input type="text" id="search-value" class="input is-primary" aria-describedby="search-field" placeholder="Select by Author or Title">
            <button id="search" class="button is-primary is-medium">Submit</button>
          </div>

        </form>
        <br class="br" style="margin-bottom: 0;">
        <section class="section">
          <div class="container">
            <h2 class="title">Books:</h2>
            <ul id="example-list" class="list-group">
              {{#each books}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="bookInfo/{{this.id}}">{{this.title}}</a>
                <label class="checkbox">
                  <input type="checkbox" id="chk" value="Add checkbox">
                </label>
                <button class="button is-danger is-small" id="remove">ｘ</button>
              </li>
              {{/each}}
            </ul>
          </div>
        </section>
        <footer class="footer">
          <div class="content has-text-centered">
            <p>
              <a href="">CGKP</a>
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>